@media only screen and (max-width:414px) {
   .header-div {
     height: 90vh;
   }

   .logo-and-conent {
     display: block;
     /* justify-content: space-around; */
     margin: 0px;
   }

   .main-log img {
     margin: 10px 10px;
     width: 50%;
   }

   .content-with-info {
     display: none;
   }

   .About-section-main {
     height: 200vh;
   }

   .speech-provide {
     height: 110vh;
   }

   .peech-second {
     width: 100%;
   }

   .third-container ul li {
     margin-top: 10px;
   }

   .main-container-box {
     display: inline-block;
     height: 70vh;
     width: 70%;
     background-color: rgb(231, 126, 6);
     justify-content: center;
     margin-left: 15%;
     margin-right: 15%;
   }

   .main-container-About-content {
     margin: 10px;
     margin-bottom: 10%;
     height: 40vh;
     width: 100%;
     background-color: #fff;
     display: block;
   }

   .contianer-to-speech {
     margin-top: 30%;
     display: block;
     width: 70%;
     margin-left: 15%;
     color: #fff;
   }

   .footer-first-container {
     display: block;
   }

   .fist-container {
     justify-content: center;
     text-align: center;
     margin-left: 0%;
     padding-top: 20px;
     display: flex;
   }

   .fist-container nav {
     margin: 20px;
   }

   .footer-first-container-fist-div {

     justify-content: center;
     text-align: center;
   }

   .footer-first-container-second-div {
     text-align: center;
   }

   .footer-first-container-second-div a {
     margin-left: 30px;
   }

   .footer-containar {
     height: 150vh;
     display: block;
     position: absolute;
   }

   .footer-second-one-conatiner {
     height: 55vh;
     margin-top: 2px;
     display: block;
   }

   .Browser-div {
     height: 42vh;
   }

   .footer-second-container {
     width: 70%;
     height: 100vh;
   }

   .footer-third-container {
     display: block;
   }

   .video {
     background-color: #ffffff07;
   }
 }

 @media only screen and (max-width:393px) {
   .header-div {
     height: 100vh;
   }

   .main-container-About-content {
     height: 45vh;
   }

   .About-section-main {
     height: 220vh;
     border: none;
   }

   .speech-provide {
     height: 110vh;
     border: none;
   }

   .footer-containar {
     height: 168vh;
   }

   .footer-second-container {
     width: 70%;
     height: 120vh;
   }

   .footer-second-second-div {
     margin-bottom: 10px;
     padding-top: 20px;
   }

   .footer-second-one-conatiner {

     margin-bottom: 30px;
   }

   .Browser-div {
     height: 57vh;
     margin-top: 60px;
   }

   .footer-containar::after {
     bottom: 70px;
   }

 }
 @media only screen and (max-width:360px) {
  .header-div {
    height: 110vh;
  }

  .main-container-About-content {
    height: 53vh;
  }

  .About-section-main {
    height: 265vh;
    border: none;
  }

  .speech-provide {
    height: 127vh;
    border: none;
  }

  .footer-containar {
    height: 190vh;
  }

  .footer-second-container {
    width: 70%;
    height: 140vh;
  }

  .footer-second-second-div {
    margin-bottom: 10px;
    padding-top: 20px;
  }

  .footer-second-one-conatiner {

    margin-bottom: 30px;
    height: 68vh;
  }

  .Browser-div {
    height: 67vh;
    margin-top: 60px;
  }

  .footer-containar::after {
    bottom: 70px;
  }

}
@media only screen and (max-width:375px) {
  .header-div {
    height: 110vh;
  }

  .main-container-About-content {
    height: 53vh;
  }

  .About-section-main {
    height: 280vh;
    border: none;
  }

  .speech-provide {
    height: 127vh;
    border: none;
  }

  .footer-containar {
    height: 204vh;
  }

  .footer-second-container {
    width: 70%;
    height: 150vh;
  }

  .footer-second-second-div {
    margin-bottom: 10px;
    padding-top: 20px;
  }

  .footer-second-one-conatiner {

    margin-bottom: 30px;
    height: 68vh;
  }

  .Browser-div {
    height: 67vh;
    margin-top: 60px;
  }

  .footer-containar::after {
    bottom: 70px;
  }

  .fist-container {
    justify-content: center;
    text-align: center;
    margin-left: 0%;
   
    display: flex;
  }
  .footer-first-container {
    display: block;
    height: 220px;
}
}
@media only screen and (max-width:375px) {
  .header-div {
    height: 110vh;
  }

  .main-container-About-content {
    height: 53vh;
  }

  .About-section-main {
    height: 267vh;
    border: none;
  }

  .speech-provide {
    height: 127vh;
    border: none;
  }

  .footer-containar {
    height: 186vh;
  }

  .footer-second-container {
    width: 70%;
    height: 137vh;
  }

  .footer-second-second-div {
    margin-bottom: 10px;
    padding-top: 20px;
  }

  .footer-second-one-conatiner {

    margin-bottom: 30px;
    height: 68vh;
  }

  .Browser-div {
    height: 67vh;
    margin-top: 60px;
  }

  .footer-containar::after {
    bottom: 70px;
  }

  .fist-container {
    justify-content: center;
    text-align: center;
    margin-left: 0%;
   
    display: flex;
  }
  .footer-first-container {
    display: block;
    height: 220px;
}
}

@media only screen and (max-width:820px){
  .header-div {
    height: 100vh;
  }
  .main-container-About-content{
    height: 35vh;
  }
  .video {
    margin: 0;
    height: 87px;
    width: 100%;
}
.speech-provide {
  height: 34vh;
}
.footer-second-one-conatiner {
  height: 25vh;
}
.footer-second-container {
  height: 47vh;
}
.footer-containar {
  height: 95vh;
}
}
@media only screen and (max-width:912px){
  .main-content-text {
    margin: auto;
    margin-top: 30%;
  }
  .header-div{
    height: 106vh;
  }
  .main-container-About-content {
    height: 27vh;
  }
  .main-container-box { 
    height: 22vh;
}

.About-section-main {
  height: 80vh;
}
.speech-provide {
  height: 32vh;
}
.footer-second-one-conatiner {
  height: 27vh;
}
.footer-second-container {
  height: 47vh;
}
.footer-containar {
  height: 93vh;
}
}
@media only screen and (max-width:412px){
  .About-section-main {
    height: 204vh;
}

.main-container-About-content {
  height: 43vh;
}

  /* .speech-provide {
    height: 76vh;
} */
.speech-provide {
  height: 108vh;
}
.footer-containar {
  height: 147vh;
}
.footer-second-one-conatiner {
  height: 57vh;
}
.footer-second-container {
  height: 99vh;
}
}
